section.contacts{
  #map-frame{
    height: 300px;
    border-bottom: 1px solid $gray-lighter;
  }
  .content{
    padding: 30px $global-padding;
    display: flex;
    form{
      flex-basis: 600px;
      flex-shrink: 0;
      margin-right: 50px;
      .row{
        display: flex;
        justify-content: space-between;
        .input{
          flex: 1;
          &:first-child{
            margin-right: 20px;
          }
        }
      }
    }
    ul.contact-info{
      padding: 0;
      margin: 13px 0 0;
      list-style: none;
      font-size: 14px;
      li{
        margin-bottom: 20px;
      }
      .label{
        color: $green;
      }
    }
  }
}